@mixin titleBig{
    font-weight: $font-lg;
    text-align: center;
    color:$colorButton1;
}

@mixin logo{
    width:130px;
}

@mixin floating{
    border-radius:10px;
    -webkit-box-shadow: 12px 17px 10px 0px #474747;
-moz-box-shadow: 12px 17px 10px 0px #474747;
-o-box-shadow: 12px 17px 10px 0px #474747;
box-shadow: 12px 17px 10px 0px #474747
}

@mixin grid($numeroElementi){
    display: flex;
    flex-direction: row;
    div{
        width:100%/$numeroElementi;
    }
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:0 auto;
    text-align: center;
}

@mixin flex($direzione){
    display: flex;
    flex-direction: $direzione;
    justify-content: space-between;
    align-items: center;
}