/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

#testoAlternato{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

p{
    border:2px solid black;
    padding: 1em;
    position:relative;
    width: 290px;
}

@keyframes animazioneParola {
    0%{
        opacity:0;
        transform: translateY(-40px);
    }
    50%{
        opacity:0;
        transform: translateY(-30px);
    }
    65%{
        opacity:0;
        transform: translateY(-20px);
    }
    80%{
        opacity:0.6;
        transform: translateY(-10px);
    }
    100%{
        opacity:1;
        transform: translateY(0px);
    }
}

@keyframes animazioneParola2 {
    0%{
        opacity:0;
        transform: translateY(-40px);
    }
    50%{
        opacity:0;
        transform: translateY(-30px);
    }
    65%{
        opacity:0;
        transform: translateY(-20px);
    }
    80%{
        opacity:0.6;
        transform: translateY(-10px);
    }
    100%{
        opacity:1;
        transform: translateY(0px);
    }
}

@keyframes animazioneParola3 {
    0%{
        opacity:0;
        transform: translateY(-40px);
    }
    50%{
        opacity:0;
        transform: translateY(-30px);
    }
    65%{
        opacity:0;
        transform: translateY(-20px);
    }
    80%{
        opacity:0.6;
        transform: translateY(-10px);
    }
    100%{
        opacity:1;
        transform: translateY(0px);
    }
}

.parole i:nth-child(1){
    position: absolute;
    animation: animazioneParola 10s linear 0s infinite;
}


.parole i:nth-child(2){
    animation: animazioneParola2 10s linear 5s infinite;
    position: absolute;
}

.parole i:nth-child(3){
    opacity: 0;
    animation: animazioneParola3 10s ease-out 2.5s infinite;
    position: absolute;
}
