body {
    background-color: blueviolet;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:98vw;
    height:98vh;
}

.fatto {
    font-weight: bold;
}

.fatto::before {
    content: "\f00c";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-family: "FontAwesome";
    src: url('../font/fontawesome-webfont.eot');
    src: url('../font/fontawesome-webfont.eot?#iefix') format('eot'),
        url('../font/fontawesome-webfont.woff') format('woff'),
        url('../font/fontawesome-webfont.ttf') format('truetype'),
        url('../font/fontawesome-webfont.svg#FontAwesome') format('svg');
}

#testo{
width:40em;
height:3em;
border-radius: 10px;
}

#aggiungi{
    width:13em;
    height:3em;
    border-radius: 10px;
    border:2px solid black;
}