@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

body {
    font-family: 'Poppins', sans-serif;
}

.row {
    width: 90%;
    margin: 0 auto;

}

.nav-link {
    width: 100%;
}

#caricamento {
    width: 16em;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 2em;

    .spinner-border {
        width: 7em;
        height: 7em;
    }
}

.card {
    img {
        margin: 1em auto;
        max-width: 10em;
    }
}

#textDescription {
    max-height: 4.5em;
    overflow-y: auto;
}

.card {
    height: 33em;
}

.nascondi {
    display: none;
}

#dettaglioFoto {
    img {
        max-width: 80%;
    }
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    margin: 0.7em 0;
}

a {
    cursor: pointer;
}

#resetInfo {
    @media screen and (max-width:475px) {
        margin-top: 0.5em;
    }

    @media screen and (min-width:575px) {
        margin-top: 0.5em;
    }

    @media screen and (min-width:911px) {
        margin-top: 0;
    }

    @media screen and (min-width:992px) {
        margin-top: 0.5em;
    }
}

#formHD {
    margin: 0.8em auto;

    @media screen and (min-width:514px) {
        margin: 0;
    }
}

#trovatoNiente {
    width: 100%;
}